<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <link rel="stylesheet" href="css/mi.css">      
    </head>
    <body>
        <header>

        </header>

        <h1><%=sesion%></h1>
        <ol>
            <!--<li>usuario: Maria password:1234 edad:18</li>-->
            <%personas.forEach((persona)=>{%>
                <li>Usuario: <%=persona.usuario%> Password: <%=persona.password%> </li>
            <%});%>

            <!-- <%personas.forEach((persona)=>{%>
                <tr>
                    <td><%=persona.usuario%></td>
                    <td><%=persona.password%></td>                  
                </tr>
            <%});%> -->
        </ol>
        <footer>

        </footer>
    </body>
</html>